* {
  margin: 0;
  padding: 0;
}
body {
  /* background-image: url("../images/page-background.png"); */
  box-sizing: none;
  font-family: "Roboto", sans-serif;
  overflow: auto;
}
.bottom-padding {
  padding-bottom: 100px;
}
header {
  background-color: #028900;
  position: sticky;
  top: 0;
  z-index: 999;
}
.bg-porfolio {
  background-color: #549407;
}
.profile-pic {
  background-color: transparent;
}
.headline {
  padding-top: 70px;
  padding-bottom: 70px;
}
.about-me {
  line-height: 1.7rem;
  /* text-align: justify; */
}
.about-me ul {
  padding: 0 17px;
}
.profile-pic img {
  max-width: 100%;
}
.profile-pic ul > li {
  display: inline-block;
  padding: 10px;
}
.profile-pic ul li > a {
  color: #028900;
  font-weight: bold;
  text-decoration: none;
}
.profile-pic ul li > a:hover {
  color: #74d600;
  font-weight: bold;
  text-decoration: none;
}
footer {
  background-color: #666666;
  height: 50px;
  bottom: 0; /* Place it all the way at the bottom of the page */
  border-top: 4px #028900 solid;
}
#my-copyright {
  color: white;
  font-size: 12px;
}
/* Styles for Portfolio page */
.my-card {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
